body {
    width: 100vh;
    height: 1120px;
    background: url(../imagenes/img1.png) no-repeat;
    padding: 0;
    margin: 0;
    color: white;
}
.logoDePagina{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 25px;
}
.logoDePagina img {
width: 40px;
height: 40px;
padding-left: 60px;
}
.textLogoPagina{
   text-align: right;
   margin: 0 685px 0 0;
   font-size: 22px;
   position: relative;
   top: -45px;
}
.NavDatosContacto{
    text-align: right;
    list-style-type: none;
    display: flex;
    font-size: 14px;
    gap: 16px;
    margin: 0 680px 0 450px;
    flex-direction: row-reverse;
    position: relative;
    top: -100px;
    left: 300px;
}
.NavDatosContacto img{
    display: flex;
    margin-top: 15px;
    width: 35px;
    height: 35px;
    position: relative;
    right: -2px;
}
.menuNavContacto{
margin-top: 20px;
}
.navPage{
display: flex;
list-style-type: none;
font-size: 14px;
gap: 30px;
color: white;
position: relative;
top: -145px;
left: 980px;
}
.contenedorNavPrincipal{
margin: 340px 0px 0px 60px;
font-size: 25px;
}
.contenedorNavPrincipal p{
    font-size: 16px;
}

.buttonNavPrincipal{
    width: 130px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    margin-top: 50px;
    flex-direction: row-reverse;
    cursor: pointer;
}
.contenedorCard{
    width: 320px;
    height: auto;
    display: flex;
    margin: 80px 0 0 570px;
}
.cardImagen{
   position: relative;
   display: block;
   max-width: 100%;
   height: auto;
}
.textContenedorCard{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.textBox{
    color: #ededed;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    left: 160px;
    min-width: 100vh;
    display: flex;
    position: relative;
    top: -340px;
}
.contenedorBox1{
    width: 1920px;
    height: auto;
    display: flex;
    background: url(../imagenes/img20.png) no-repeat;
    position: relative;
    top: -100px;
  }
  .contenedorBox1 img{
  width: 340px;
  height: 550px;
  position: relative;
  top: -60px;
  bottom: 10px;
  left: 320px;
  }
.parrafo2{
    font-size: 20px;
    color: #9fa0a1;
    position: relative;
    left: 160px;
    top: -335px;
    max-width: 280px;
    display: flex;
}
.contenedorCard2{
width: 740px;
height: 522px;
background: #F6F6F6;
position: relative;
top: -705px;
left: 660px;
display: flex;
}
.imagenContenedorBox2{
    width: 150px;
    height: 140px; 
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: -1060px;
    left: 710px;
 }
.tituloCard2{
    color: black;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    position: relative;
    margin-bottom: 20px;
    left: 260px;
}
.parrafoCard2{
    color: black;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    position: relative;
    top: 120px;
    left: -90px;
}
.buttonSecundario{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #C49D48;
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    position: relative;
    top: -840px;
    left: 1290px;
    cursor: pointer;
}
.textButton{
color: black;
justify-content: center;
font-size: 16px;
display: flex;
position: relative;
top: -785px;
left: 770px;
}
.contenedorBox3{
color: black;
text-align: center;
justify-content: center;
position: relative;
top: -780px;
left: 530px;
}
.imagenContenedorBox3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    gap: 10px;
    top: -700px;
    left: 60px;
}
.contenedorFooter{
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    justify-content: center;
    position: relative;
    top: -600px;
  }
  .contenedorFooter p{
   font-size: 16px;
   position: relative;
   top: -45px;
  }
  .logoFooter {
    margin-bottom: 16px;
  }
  .textLogoFooter{
  color: #C49D48;
  font-size: 20px;
  position: relative;
  top: -70px;
  left: 50px;
  }
  .contenedorFooter1 {
    width: 451px;
    margin-right: 80px;
    color: black;
}
  .footerColumna1 {
    margin-right: 80px;
  }
  .footerColumna2 {
    margin-right: 80px;
  }
  .footerColumna3 {
    margin-right: 80px;
    position: relative;
    top: -168px;
left: 700px; 
 }
 .footerColumna3 p{
    position: relative;
    top: -5px;
 }
 .footerColumna3 sub{
    position: relative;
    top: -2px;
 }
  .siguenos {
    margin-bottom: 20px;
    position: relative;
    right: 150px;
    top: -20px;
  }
  